extends layout

block content
  h1 Kelley
  p Welcome to Kelley
  ul
    - console.log(r_id)
    li 
      a(id="jelley2",href="/images/image2.jpg") Kelley-2
    li 
      a(id=r_id,href="/images/image1.jpg") Kelley-1
    li
      a(id="jelley3",href="/images/image3.jpg") Kelley-3